body{
    margin: 0;
    padding: 0;
}

#game-container{
    position: absolute;
    display: grid;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #c4c4c4;
    width: 40vw;
    height: 40vw;
    min-width: 400px;
    min-height: 400px;
    text-align: center;
}